.container  {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100vh;
    overflow: auto;
   
    &__search{
        background-color: #fff;
        padding: 20px 20px 0px 20px;
        border-radius: 10px;
        margin-bottom: 20px;
       
        mat-form-field{
            width: 50%;
        
        }
    }
   
    &__card{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
       

    }

}


@media screen and (max-width:600px) {

    .container{
        &__search{
            padding: 20px 10px 0px 10px;
        }
    }




    mat-form-field{
        width: 100% !important;
    }
    
}